/*
  This resets the default margin and padding on the main page elements,
  ensuring our components can go truly edge-to-edge.
*/
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

option {
  background: white !important;
  color: #2D3748 !important; /* This is the hex code for Chakra's gray.800 */
}